.icon-button { margin: 0 }

.icon.icon-size-small { margin: 5px 16px }
.icon.icon-size-medium { margin: 5px 6px }
.icon.icon-size-large { margin: 5px 5px }

.icon-size-small { height: 18px; width: 18px; font-size: 18px; }
.icon-size-medium { height: 24px; width: 24px; font-size: 24px; }
.icon-size-large {  height: 36px; width: 36px; font-size: 36px; }
