.platform-bar-container {
  position:relative;
  display:flex;
  align-items:center;
  background-color: #fff;
  border-bottom:1px solid rgba(0,0,0,.12);
  justify-content:space-between;
  padding:0 12px;
  height:48px;
  min-width:100%;
  z-index:11
}

.platform-bar-right,
.platform-bar-middle,
.platform-bar-left {
  display: flex;
  align-items: center;
}
