@import '../cosmetic/platform-bar';

.nav {
  background-color: #fff;
  box-shadow: none;
  border-right: 1.1px solid rgba(0,0,0,.12);
  width: 256px;
  transition: width cubic-bezier(0.4, 0, 0.2, 1) .2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-container {
  height: 100%;
}

.sub-nav--toolbar {
  position: sticky;
  top:0;
  left:0;
  right:0;
  bottom:0
}

.sub-nav--body {
  overflow-x: hidden;
  overflow-y: auto;
}

.sub-nav--footer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: #fff;
  border-top: 1.1px solid rgba(0,0,0,.12);
  border-bottom: 1.1px solid rgba(0,0,0,.12);
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .sub-nav--footer-button {
    margin: 5px 10px;
    border-radius: 4px;
  }

  .sub-nav--footer-toolbar {
    border-top: 1.1px solid rgba(0,0,0,.12);
  }
}

#content-container {
  background-color: #fff;
  display: flex;
  height: 100%;
  overflow: auto;
}

.mat-drawer-inner-container {
  display: flex !important;
  flex-direction: column !important;
}

.left-panel {
  width: 256px;
  border-right: 1.1px solid rgba(0,0,0,.12);
}

.right-panel {
  flex-grow: 1;
  margin-left: 256px;
}

.action-bar {
  position: sticky;
  top: 0;
  left: 0;
}

.outlet-shell {
  padding: 23px;
  display: block;
  overflow: auto;
}
