<div class="shell">
  <app-platform-bar />
  <div class="panel-container-outter">
    <div class="panel-container-inner panel-container-vertical">
      <app-panel side="left" style="display: flex; width: 256px">
        <mat-sidenav class="nav" opened>
          <app-platform-bar />
        </mat-sidenav>
      </app-panel>
      <app-panel side="center">
        <div class="central-page">
          <app-platform-bar />
          <app-link />
          </div>
      </app-panel>
    </div>
  </div>
</div>
